<h1 mat-dialog-title>Add Student Form</h1>

<div mat-dialog-content>
    <form [formGroup]="studentForm">
        <mat-form-field appearance="outline">
            <mat-label>Student ID</mat-label>
            <input formControlName="studentId" matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Student Name</mat-label>
            <input formControlName="studentName" matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Student Grade</mat-label>
            <mat-select formControlName="studentGrade" placeholder="Grade">
                <mat-option value="A">A</mat-option>
                <mat-option value="B">B</mat-option>
                <mat-option value="C">C</mat-option>
                <mat-option value="D">D</mat-option>
                <mat-option value="E">E</mat-option>
                <mat-option value="F">F</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <label for=""><h2>Academic Year</h2></label>
        <mat-radio-group formControlName="academicYear" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let Year of academicList" [value]="Year">
                {{Year}}
            </mat-radio-button>
        </mat-radio-group>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addStudent()">{{actionBtn}}</button>
</div>